.card {
  background-color: var(--neutral-300);
  width: 350px;
  height: 450px;
  margin-inline: 20px;
  padding: 30px;
  border-radius: 20px;
}

.card__image {
  width: 100%;
}

.card__title {
  color: var(--neutral-900);
  font-size: 24px;
}

.card__description {
  color: var(--primary);
  font-weight: 300;
}
