.card {
  background-color: var(--neutral-300);
  width: 350px;
  height: 450px;
  margin-inline: 20px;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card__image {
  width: 100%;
}

.card__title {
  color: var(--neutral-900);
  font-size: 24px;
}

.card__description {
  color: var(--primary);
  font-weight: 300;
}

.card__info {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
}

.card__info-eth {
  display: flex;
  color: var(--secondary);
}

.card__info-days {
  display: flex;
  color: var(--primary);
}

.card__info-eth img,
.card__info-days img {
  padding-right: 10px;
}

.card__stripe {
  border: 1px solid var(--neutral-600);
}

.card__user {
  display: flex;
}

.card__user-img {
  width: 40px;
}
