:root {
  --primary: hsl(215, 51%, 70%);
  --secondary: hsl(178, 100%, 50%);

  /* main BG */
  --neutral-100: hsl(217, 54%, 11%);
  /* card BG */
  --neutral-300: hsl(216, 50%, 16%);
  /* line */
  --neutral-600: hsl(215, 32%, 27%);
  --neutral-900: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: var(--neutral-300);
}

main#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

p {
  font-size: 18px;
}
